.header {
  text-transform: uppercase;
}

.sidebar ul li a {
  font-size: 0.9rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  text-align: justify;
}

pre {
  font-family: monospace;
  line-height: 1.3rem;
}
