.page {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
}

.title, .description {
  padding: 0.25rem 0 0.75rem;
}

pre {
  background-color: #0D47A1;
  color: white;
}

.collapsible-code {
    border: 2px solid #2196F3;
}

.code-header {
  background-color: #0D47A1;
  color: white;
  padding: 0.75rem 0.75rem 0.75rem 0.5rem !important;
}

.code-header span code {
  background-color: #1565C0;
  padding: 0.3rem 0.8rem;
  border: 1px solid white;
  border-radius: 2px;
}

.collapsible-code {
  margin-bottom: 1rem;
}
